.map {
    height: 100%;
}

/* path {
    fill:#000000;
    fill-opacity:.75;
    stroke-width:1.77165354000000000;
    stroke-miterlimit:4;
    stroke-dasharray:none;
    stroke:#ffffff;
    stroke-opacity:1;
 }

.player-1 {
    fill: green;
}

.player-2 {
    fill: red;
}


path:hover {
   fill-opacity:1;
    stroke-width: 5;
}
.selected {
   fill-opacity:1;
    stroke: #bbb;
    stroke-width: 7;
}

.select-available {
    fill-opacity: .85;
}

.select-unavailable {
    fill-opacity: .4;
}

text {
    font-size: 16px;
    font-family: 'Bungee', cursive;
    fill: white;
    stroke-width: 1;
    stroke: black;
    text-anchor: middle;
    dominant-baseline: middle;
    user-select: none;
} */