.App {
  position: relative;
  /* text-align: center; */

  background: #fff0c8;
  height: 100vh;
  padding: 2rem;

  position: relative;
  z-index: 1;
}

.App::before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-image: url(../../public/assets/bg.jpg);
  background-position: top 0 left 0;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.08;
  mix-blend-mode: multiply;
  z-index: -1;
}
