@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap");
@font-face {
  font-family: "Bruno Ace";
  src: local("Bruno Ace"), url("./fonts/Bruno Ace.ttf") format("truetype");
  font-weight: bold;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  color: #000;
  font-family: "Lexend Deca", sans-serif;
}
