.btn {
  border: none;
  display: block;
  font-family: inherit;
  font-weight: bold;
}

a {
  text-decoration: none;
  display: block;
}

.btn-main {
  font-size: 3.2rem;
  text-align: center;
  text-transform: uppercase;

  width: 30.1rem;
  padding-top: 2.1rem;
  padding-bottom: 2.1rem;

  border: 0.5rem solid #000;

  box-shadow: 0.5rem 0.5rem 0 0 #000;

  background-color: transparent;
}

.btn-main:hover {
  color: #e6dfd1;
  background-color: #000;
}

.btn-main:active {
  color: #e6dfd1;

  box-shadow: unset;

  background-color: #000;

  position: relative;
  top: 0.5rem;
  left: 0.5rem;
}

.btn-inline {
  display: inline-block;
  background-color: #000;
  color: #fff;
}

.btn-next-phase {
  padding: 2px;
  border-radius: 4px;
  vertical-align: middle;
  width: 100%;
}
