.player-info {
  padding: 1rem;
  border: 0.5rem solid black;
  border-radius: 0.6rem;
}

.player-info-1 {
  border-color: green;
}
.player-info-2 {
  border-color: red;
}

table th {
  text-align: right;
  padding-right: 0.5rem;
}

.col-values {
  min-width: 10rem;
  /* background-color: tomato; */
}
